@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Kalnia:wght@300;400;500;600;700&display=swap');
body, html{
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;  /* Prevent horizontal scrollbar */
        overflow-y: auto;    /* Allow vertical scrollbar when necessary */
        height: 100%;         /* Ensure the body takes the full height */
      }
}
.header{
    background-image: url(./images/671643426f6e8e8e4c92f0cc720fff1d.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.name, .contact{
    color: #d61e1e;
    font-size: 1.3rem;
    font-family: 'Calistoga', serif;
    font-weight: unset;
}

hr {
    border: 1px solid #d61e1e;
    padding: 0;
    margin: 0;
}

.hr2{
    width: 10%;
    transform: rotate(123deg);
    position: absolute;
    border: 2px solid #d61e1e;
    padding: 0;
    margin: 0;
    top: 53%;
    left: 45%;
}

.headingNav{
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

.introText{
    margin: 2% 0 0 0;
    font-family: 'Kalnia', serif;
    font-weight: lighter;
    font-size: 5rem;
    color: #d61e1e;
    position: absolute;
}

.one{
    left: 45%;
}

.two{
    margin: 0;
    font-weight: 600;
    font-size: 5rem;
    left: 55%;
    top: 25%;
}

.three{
    position: absolute;
    bottom: 20%;
    left: 30%;
}

.para{
    color: #d61e1e;
    font-family: 'Calistoga', serif;
    font-weight: unset;
    font-size: 1rem;
    line-height: 1.3;
    position: absolute;
    right: 5%;
    top: 45%;
    text-align: center;
}

.list{
    position: absolute;
    top: 35%;
    left: 10%;
    list-style: circle;
    font-size: 1.3rem;
    }

    li{
        color: #d61e1e;
    }

    li::marker{
        font-size: 1.3rem;
    }

    .section2{
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-color: #FFFAFB;
        text-align: center;
    }

    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    .card{
    background-position: center;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 5% 2% 5%;
    border-radius: 10%;
    transition: 0.33s all ease;
    box-shadow: -3px 3px 3px #888888;
    }

    .c1{
        background-image: url(./images/pexels-mikhail-nilov-7664624.jpg);
    }

    .c3{
        background-image: url(./images/pexels-mikhail-nilov-7672272.jpg);
    }

    .c2{
        background-image: url(./images/pexels-mikhail-nilov-7709020.jpg);
    }

    .c4{
        background-image: url(./images/pexels-t-leish-5258246.jpg);
    }

    .c5{
        background-image: url(./images/pexels-t-leish-5259420.jpg);
    }

.card:hover{
    width: 640px;
    height: 480px;
    border-radius: 5%;
}

.cardTexts {
    display: none;
}

.card:hover .cardTexts {
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.section2 > a{
    text-decoration: none;
    color: #d61e1e;
}

.section3{
    background-image: url(./images/671643426f6e8e8e4c92f0cc720fff1d.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: space-around;
}

.tech, .skills{
    width: 30vw;
}

.tech{
    line-height: 2.8;
}

.innerLi{
    list-style: none;
}

.s3-1, .s3-2{
    color: #d61e1e;
}

.s3-1{
    text-align: center;
}

/* mobile*/

@media only screen and (max-width: 1026px){
    

    .section2{
        display: none;
    }

    .section3{
      flex-direction: column; 
    }

    .skills, .tech{
        width: 100vw;
    }

    
     .allSkill, .allTech{
        padding: 0 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

}